code[class*='language-'],
pre[class*='language-'] {
  color: #d8caac;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #505a60c0;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #505a60c0;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  color: white;
  background: #323d43;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.keyword {
  color: #e39b7b;
}

.token.operator {
  color: #e39b7b;
}

.token.attr-name {
  color: #d9bb80;
}

.token.selector {
  color: #d9bb80;
}

.token.number {
  color: #d39bb6;
}

.token.boolean {
  color: #d39bb6;
}

.token.function {
  color: #d39bb6;
}

.token.punctuation {
  color: #868d80;
}

.token.builtin {
  color: #87c095;
}

.token.property {
  color: #87c095;
}

.token.char {
  color: #87c095;
}

.token.string {
  color: #d8caac;
}

.token.variable {
  color: #83b6af;
}

.token.class-name {
  color: #83b6af;
}

.token.namespace {
  color: #d39bb6;
  font-style: italic;
}

.token.constant {
  color: #a7c080;
}

.token.hexcode {
  color: #a7c080;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.prose pre {
  @apply !bg-[#323D43];
}
