@tailwind base;
@tailwind components;
@tailwind utilities;
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* #ECEDFA
#141414
#F8F9FA
#008000
*/

/* :root {
  --shiki-color-text: #24292f;
  --shiki-color-background: #ffffff;
  --shiki-token-constant: #0550ae;
  --shiki-token-string: #24292f;
  --shiki-token-comment: #6e7781;
  --shiki-token-keyword: #cf222e;
  --shiki-token-parameter: #24292f;
  --shiki-token-function: #8250df;
  --shiki-token-string-expression: #0a3069;
  --shiki-token-punctuation: #24292f;
  --shiki-token-link: #000012;
} */
/*
:root {
  /* --shiki-color-text: theme('colors.zinc.700');
  --shiki-color-background: theme('colors.white');
  --shiki-token-constant: theme('colors.emerald.700');
  --shiki-token-string: theme('colors.emerald.700');
  --shiki-token-comment: theme('colors.zinc.500');
  --shiki-token-keyword: theme('colors.cyan.700');
  --shiki-token-parameter: theme('colors.pink.700');
  --shiki-token-function: theme('colors.violet.700');
  --shiki-token-string-expression: theme('colors.emerald.700');
  --shiki-token-punctuation: theme('colors.zinc.800');
  --shiki-token-link: theme('colors.zinc.700'); */

/* --shiki-color-text: #c9d1d9;
--shiki-color-background: #0d1117;
--shiki-token-constant: #79c0ff;
--shiki-token-string: #a5d6ff;
--shiki-token-comment: #8b949e;
--shiki-token-keyword: #ff7b72;
--shiki-token-parameter: #c9d1d9;
--shiki-token-function: #d2a8ff;
--shiki-token-string-expression: #a5d6ff;
--shiki-token-punctuation: #c9d1d9;
--shiki-token-link: #000012; */

/* code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
} */

/* background-color: var(--tw-prose-pre-bg); */
