code[class*='language-'],
pre[class*='language-'] {
  /* fg1 / fg */
  color: #ebdbb2;
  /* color: #fe801f; */
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #1d2021; /* bg0_h */
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #c48888;
  /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.selector,
.token.important,
.token.atrule {
  /* color: #dd6c41; */
  color: #66ccff;
  text-decoration: underline;
  /* red2 */
}

.token.keyword {
  /* color: #ff0000; */
  color: #dd6c41;
}

.token.punctuation {
  color: #ffd700;
}

.token.operator,
.token.attr-name {
  color: #a89984;
}

.token.tag {
  color: #dd6c41;
}

/* .token.tag, */
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  /* color: #ff0000; */
  color: #fdf4c1;
  /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
  color: #d3869b; /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
  /* red2 */
  /* color: #fb4934; */
  color: #fdf4c1;
}

.token.string,
.token.char {
  color: #7ec669;

  /* green2 */
}

.token.attr-value .punctuation {
  color: #7ec669;
}

.token.attr-value {
  color: #7ec669;
  /* text-decoration: underline; */
}

.token.url {
  color: #b8bb26; /* green2 */
  text-decoration: underline;
}

.token.function {
  /* yellow2 */
  color: #66999d;
}

.token.regex {
  background: #b8bb26; /* green2 */
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #a89984;
  /* fg4 / gray1 */
}

.token.deleted {
  background: #fb4934; /* red2 */
}

.prose pre {
  @apply !bg-[#151515];
}
